---
title: Home
---

<h2>Welcome</h2>

<img src="/images/haskell-logo.png" style="float: right; margin: 10px;" />

<p>Welcome to my blog!</p>

<p>I mostly write about programming, science & technology and public policy issues and politics related to those topics. Below are the most recent posts.</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>For full list of my posts, head over to <a href="/archive.html">archives</a>.</p>
